DJANGO_SECRET_KEY=change-me
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=easybook
DB_USER=easybook_app
DB_PASSWORD=easybook_app
DB_HOST=localhost
DB_PORT=5472

REDIS_URL=redis://localhost:6390/0

CORS_ALLOWED_ORIGINS=http://localhost:3000
